En este notebook vamos a explorar los datos de COVID en España descargados de la pagina web del Centro Nacional de Epidemiología https://cnecovid.isciii.es/covid19/#documentaci%C3%B3n-y-datos

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Leemos los datos de COVID-19:

In [2]:
covid = pd.read_csv("casos_hosp_uci_def_sexo_edad_provres.csv")

In [3]:
covid

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,A,H,0-9,2020-01-01,0,0,0,0
1,A,H,10-19,2020-01-01,0,0,0,0
2,A,H,20-29,2020-01-01,0,0,0,0
3,A,H,30-39,2020-01-01,0,0,0,0
4,A,H,40-49,2020-01-01,0,0,0,0
...,...,...,...,...,...,...,...,...
602605,ZA,NC,50-59,2021-01-13,0,0,0,0
602606,ZA,NC,60-69,2021-01-13,0,0,0,0
602607,ZA,NC,70-79,2021-01-13,0,0,0,0
602608,ZA,NC,80+,2021-01-13,0,0,0,0
602609,ZA,NC,NC,2021-01-13,0,0,0,0

Comprobamos la presencia de campos vacios en la tabla:

In [4]:
covid.isna().any()

provincia_iso     True
sexo             False
grupo_edad       False
fecha            False
num_casos        False
num_hosp         False
num_uci          False
num_def          False
dtype: bool

In [5]:
covid[covid['provincia_iso'].isnull()==True]

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
930,NaN,H,0-9,2020-01-01,0,0,0,0
931,NaN,H,10-19,2020-01-01,0,0,0,0
932,NaN,H,20-29,2020-01-01,0,0,0,0
933,NaN,H,30-39,2020-01-01,0,0,0,0
934,NaN,H,40-49,2020-01-01,0,0,0,0
...,...,...,...,...,...,...,...,...
601975,NaN,NC,50-59,2021-01-13,0,0,0,0
601976,NaN,NC,60-69,2021-01-13,0,0,0,0
601977,NaN,NC,70-79,2021-01-13,0,0,0,0
601978,NaN,NC,80+,2021-01-13,0,0,0,0
601979,NaN,NC,NC,2021-01-13,0,0,0,0

Eliminamos los registros sque no tienen provincia indicada

In [6]:
covid.dropna(inplace=True)

In [7]:
covid

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,A,H,0-9,2020-01-01,0,0,0,0
1,A,H,10-19,2020-01-01,0,0,0,0
2,A,H,20-29,2020-01-01,0,0,0,0
3,A,H,30-39,2020-01-01,0,0,0,0
4,A,H,40-49,2020-01-01,0,0,0,0
...,...,...,...,...,...,...,...,...
602605,ZA,NC,50-59,2021-01-13,0,0,0,0
602606,ZA,NC,60-69,2021-01-13,0,0,0,0
602607,ZA,NC,70-79,2021-01-13,0,0,0,0
602608,ZA,NC,80+,2021-01-13,0,0,0,0
602609,ZA,NC,NC,2021-01-13,0,0,0,0

In [8]:
covid['provincia_iso'].unique()

array(['A', 'AB', 'AL', 'AV', 'B', 'BA', 'BI', 'BU', 'C', 'CA', 'CC',
       'CE', 'CO', 'CR', 'CS', 'CU', 'GC', 'GI', 'GR', 'GU', 'H', 'HU',
       'J', 'L', 'LE', 'LO', 'LU', 'M', 'MA', 'ME', 'MU', 'NC', 'O', 'OR',
       'P', 'PM', 'PO', 'S', 'SA', 'SE', 'SG', 'SO', 'SS', 'T', 'TE',
       'TF', 'TO', 'V', 'VA', 'VI', 'Z', 'ZA'], dtype=object)

Eliminamos los registros que tienen "No Consta" en vez de provincia

In [9]:
covid.drop(covid[covid['provincia_iso']=='NC'].index, inplace=True)

In [10]:
covid['provincia_iso'].unique()

array(['A', 'AB', 'AL', 'AV', 'B', 'BA', 'BI', 'BU', 'C', 'CA', 'CC',
       'CE', 'CO', 'CR', 'CS', 'CU', 'GC', 'GI', 'GR', 'GU', 'H', 'HU',
       'J', 'L', 'LE', 'LO', 'LU', 'M', 'MA', 'ME', 'MU', 'O', 'OR', 'P',
       'PM', 'PO', 'S', 'SA', 'SE', 'SG', 'SO', 'SS', 'T', 'TE', 'TF',
       'TO', 'V', 'VA', 'VI', 'Z', 'ZA'], dtype=object)

Para poder comparar los datos de movilidad con datos de COVID tenemos que recodificar las provincias en la tabla.

In [11]:
codes= pd.read_csv('codes.csv', sep=';')
codes

   Code  Code Num
0     C        15
1    VI         1
2    AB         2
3     A         3
4    AL         4
5     O        33
6    AV         5
7    BA         6
8     B         8
9    BI        48
10   BU         9
11   CC        10
12   CA        11
13    S        39
14   CS        12
15   CR        13
16   CO        14
17   CU        16
18   SS        20
19   GI        17
20   GR        18
21   GU        19
22    H        21
23   HU        22
24   PM         7
25    J        23
26   LO        26
27   GC        35
28   LE        24
29    L        25
30   LU        27
31    M        28
32   MA        29
33   MU        30
34   OR        32
35    P        34
36   PO        36
37   SA        37
38   TF        38
39   SG        40
40   SE        41
41   SO        42
42    T        43
43   TE        44
44   TO        45
45    V        46
46   VA        47
47   ZA        49
48    Z        50
49   CE        51
50   ME        52

In [12]:
dic = {}
for i in range(51):
    dic[codes.iloc[i][0]] = codes.iloc[i][1]   
    
dic

{'C': 15,
 'VI': 1,
 'AB': 2,
 'A': 3,
 'AL': 4,
 'O': 33,
 'AV': 5,
 'BA': 6,
 'B': 8,
 'BI': 48,
 'BU': 9,
 'CC': 10,
 'CA': 11,
 'S': 39,
 'CS': 12,
 'CR': 13,
 'CO': 14,
 'CU': 16,
 'SS': 20,
 'GI': 17,
 'GR': 18,
 'GU': 19,
 'H': 21,
 'HU': 22,
 'PM': 7,
 'J': 23,
 'LO': 26,
 'GC': 35,
 'LE': 24,
 'L': 25,
 'LU': 27,
 'M': 28,
 'MA': 29,
 'MU': 30,
 'OR': 32,
 'P': 34,
 'PO': 36,
 'SA': 37,
 'TF': 38,
 'SG': 40,
 'SE': 41,
 'SO': 42,
 'T': 43,
 'TE': 44,
 'TO': 45,
 'V': 46,
 'VA': 47,
 'ZA': 49,
 'Z': 50,
 'CE': 51,
 'ME': 52}

In [13]:
covid['provincia_iso'].replace(dic, inplace=True)

In [14]:
covid

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,3,H,0-9,2020-01-01,0,0,0,0
1,3,H,10-19,2020-01-01,0,0,0,0
2,3,H,20-29,2020-01-01,0,0,0,0
3,3,H,30-39,2020-01-01,0,0,0,0
4,3,H,40-49,2020-01-01,0,0,0,0
...,...,...,...,...,...,...,...,...
602605,49,NC,50-59,2021-01-13,0,0,0,0
602606,49,NC,60-69,2021-01-13,0,0,0,0
602607,49,NC,70-79,2021-01-13,0,0,0,0
602608,49,NC,80+,2021-01-13,0,0,0,0
602609,49,NC,NC,2021-01-13,0,0,0,0

Vamos a agrupar por provincia los datos de incidencias de COVID registrados en la fase inicial, hasta 1 de abril 2020.

In [15]:
covid_hasta_abril = covid[covid['fecha'] < '2020-04-01'].groupby(["provincia_iso"]).sum()

In [16]:
covid_hasta_abril

               num_casos  num_hosp  num_uci  num_def
provincia_iso
1                   2264       914       43      171
2                   1675      1172      116      203
3                   2511      1578      235      198
4                    289       162       30       18
5                    764       343       20       66
6                    546       226       35       22
7                   1238       680      125       61
8                  19377     10276      957     1803
9                    874       556       76       75
10                  1134       525       42      148
11                   754       401       59       32
12                   713       442       66       57
13                  2925      1798       82      423
14                   774       376       50       26
15                  2015       755      106       63
16                   604       592       52      111
17                  1509       387       39      115
18                  1429       780       91       96
19                   809       599       36      106
20                  1241       582       53       67
21                   239       145       24       13
22                   336       160       26       24
23                   839       492       51       66
24                  1058       724       49      119
25                   875       113       12       25
26                  2142       593       59      110
27                   575       135       14       10
28                 41344     27337     2145     3973
29                  1983      1157      137      128
30                  1076       458       79       49
32                   795       240       17       22
33                  1377       602       86       74
34                   378       225       23       28
35                   478       234       59       20
36                  1575       497       63       40
37                  1398       640       34      144
38                  1003       450       85       49
39                  1236       113       34       60
40                  1338       540       35      150
41                  1515       774      107       86
42                   687       282       29       70
43                   817       594       71       67
44                   278       164       22       24
45                  2068      1505      108      270
46                  3372      1981      269      227
47                  1242       779       81      100
48                  3480      2172      160      200
49                   244       205       27       27
50                  1991      1107      167      161
51                    56         8        3        1
52                    58        34        3        1

Sorteamos los datos por el número de casos registrados para ver las cinco provincias líderes:

In [17]:
covid_hasta_abril.sort_values(by=['num_casos'], ascending=False).head()

               num_casos  num_hosp  num_uci  num_def
provincia_iso
28                 41344     27337     2145     3973
8                  19377     10276      957     1803
48                  3480      2172      160      200
46                  3372      1981      269      227
13                  2925      1798       82      423

Hacemos una comparación preliminar entre los niveles de movilidad y números de casos COVID-19 registrados en provincias españolas. Leemos los datos de movilidad para el día 18 de febrero 2020

In [18]:
mov_1802 = pd.read_csv('febrero/df_5.csv')
mov_1802

,periodo,fecha,1,2,3,4,5,6,7,8,...,43,44,45,46,47,48,49,50,51,52
0,0,20200218,58682.843,103808.077,434835.729,393656.106,35364.689,175228.431,223609.253,1421575.363,...,208767.606,34416.001,256131.820,658412.577,160639.919,194468.475,120116.423,392782.322,10673.972,20252.741
1,1,20200218,67808.628,81853.177,347892.828,284492.765,42624.366,144720.971,168028.377,1222537.347,...,197792.640,42968.125,219565.358,628400.843,157165.192,208750.216,92879.314,440697.109,8701.374,12605.385
2,2,20200218,74363.760,111701.257,352651.371,248910.802,32713.256,166334.272,190563.704,1295684.153,...,220587.684,27327.552,269350.207,679348.690,167973.830,182639.511,132327.553,499609.699,6336.720,19151.370
3,3,20200218,101730.167,119929.295,440335.903,200514.239,38751.340,174694.148,220701.715,1612394.394,...,311034.076,48906.877,374770.289,868089.210,202549.606,255695.217,116123.799,651486.809,10616.193,9916.734
4,4,20200218,225885.133,208962.640,637495.522,280245.305,71885.755,286485.912,372492.619,2582630.928,...,455194.868,78804.372,659196.642,1357070.405,356369.330,423907.791,156710.987,764858.454,7956.332,21375.301
5,5,20200218,315193.445,360666.592,1120069.059,493897.656,138718.513,545487.097,613627.187,4772026.960,...,709008.299,139810.684,1328292.313,2346058.512,504258.391,768377.917,175446.513,1112954.300,10424.236,14061.752
6,6,20200218,361558.283,617000.799,1979702.016,770456.429,181831.818,970066.247,1317045.071,7604972.361,...,1041199.385,256195.111,1573916.826,3643471.041,796345.009,1398348.655,303490.514,1592688.538,28583.623,19977.807
7,7,20200218,540157.513,978289.301,3045856.651,1292179.595,243184.745,1492954.998,1998557.743,8967882.938,...,1422163.051,435509.916,1702431.508,4807936.137,1091523.916,1722067.325,444618.959,2130585.650,34913.375,43156.735
8,8,20200218,454450.679,818216.464,2896215.873,1218747.164,285160.857,1310308.463,1759974.810,8097008.608,...,1252345.805,347473.908,1616466.425,4328081.894,1011831.752,1596453.937,446150.797,1898534.564,45397.398,38659.697
9,9,20200218,418589.961,674974.696,2517634.495,1084267.133,235563.085,1063420.549,1505325.498,6242203.190,...,1085243.855,310210.419,1300683.383,3510561.666,798861.217,1204429.566,384334.900,1484521.500,38477.618,19411.170
10,10,20200218,376779.673,568036.714,2396155.935,1037961.965,233831.708,902753.557,1497910.037,5477867.327,...,1009318.689,303135.695,1185149.040,3127911.792,669223.941,1058587.910,370765.451,1320045.598,32967.429,23187.176
11,11,20200218,462946.270,619334.710,2287026.250,1001738.021,201586.094,920519.142,1367299.760,5823420.711,...,1064154.948,273144.927,1144130.705,3259127.673,716372.828,1170162.681,333421.977,1334318.421,37245.385,25092.886
12,12,20200218,493133.111,643879.633,2465893.312,1056754.084,237511.164,1077762.113,1521393.109,6438576.372,...,1126287.284,315382.785,1233826.451,3665071.715,750377.376,1285675.274,357766.211,1533160.050,42443.947,41780.778
13,13,20200218,533626.596,765083.267,2836552.786,1225937.738,263402.542,1288816.838,1699668.188,7116896.818,...,1191644.996,346478.736,1389113.839,4163044.987,863467.875,1479242.744,435165.933,1727665.817,48321.470,64795.021
14,14,20200218,642380.664,800679.427,2684333.541,1347524.526,280742.652,1682392.939,1876097.602,7632496.584,...,1315390.169,390170.649,1622819.653,4192195.406,999895.622,1532370.464,469720.061,1877511.626,49629.480,58265.371
15,15,20200218,632550.150,709282.395,2749714.141,1240416.005,267251.014,1238971.779,1895703.639,7551355.019,...,1242180.142,354706.914,1331998.574,3965193.197,879457.471,1356094.387,409440.724,1718402.601,47185.794,48059.757
16,16,20200218,510497.500,644854.994,2448192.669,1145590.043,228768.399,1063934.469,1728200.126,7566471.276,...,1191013.375,326257.215,1292360.918,3771568.325,731027.728,1418430.725,382191.281,1628123.722,42829.308,38461.815
17,17,20200218,480537.124,639647.532,2690342.460,1162080.164,262513.143,1101243.672,2008471.768,8365072.718,...,1214721.017,306649.030,1400991.615,4111522.444,781078.996,1601467.819,335330.545,1576823.746,40873.494,64547.085
18,18,20200218,452272.855,678639.191,2640654.480,1257440.875,228915.596,1115597.483,1749359.876,7870889.445,...,1156446.155,311132.583,1379352.406,3788267.131,837901.685,1462268.650,400940.547,1467776.229,31905.633,34773.706
19,19,20200218,347734.695,549822.845,2275519.900,1149138.391,182542.702,1000202.652,1305796.718,6699593.022,...,952131.791,205542.632,1134386.771,3198224.346,710152.336,1184035.820,335169.433,1314611.680,42492.941,34903.956
20,20,20200218,291281.604,444001.174,1778542.301,914939.423,155868.745,823331.073,1020280.306,5777520.774,...,707427.049,164705.207,887978.919,2507020.053,611751.459,917774.447,282399.205,1120461.008,33138.653,23415.047
21,21,20200218,254409.021,271414.105,1241498.873,692984.369,95331.225,565353.966,848127.896,4823165.915,...,600402.399,104510.716,640304.836,1933983.775,442699.759,698774.850,201786.300,978585.982,26040.846,20058.020
22,22,20200218,175747.902,173902.494,867514.597,548010.287,83309.536,375936.880,504656.873,2923067.873,...,431358.935,79500.006,471203.754,1370114.443,305152.679,436626.976,166579.398,704472.596,18695.131,19499.145
23,23,20200218,66054.115,89106.652,445831.014,316291.498,34209.937,173991.301,259820.875,1475764.955,...,245772.762,35793.365,239477.076,661979.734,144950.037,192270.439,100418.470,339543.926,11368.113,12604.623

Sorteamos los datos de movilidad en la hora específica (2 p.m.) del día para ver los cinco provincías con la movilidad más elevada

In [19]:
mov1802_ = pd.DataFrame(mov_1802.iloc[14][2:])
mov1802_.sort_values(by=[14], ascending=False).head()

              14
28  1.172199e+07
8   7.632497e+06
46  4.192195e+06
41  3.487087e+06
30  2.820975e+06

Así podemos ver que las dos províncias con la movilidad más alta son las mismas que tienen el mayor número de casos registrados de COVID-19: Madrid(28) y Barcelona(8).

Guardamos los datos de COVID-19 transformados para el trabajo posterior.

In [20]:
covid.to_csv('covid_data.csv', index=False)